mat-error {
    float: right;
}

.pd_non {
    padding-right: 10px;
    padding-left: 10px;
}

.register-outer-countainer .register-inner-countainer {
    max-width: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation-name: slidein;
    animation-duration: 0.7s;
    display: block;
}

@keyframes slidein {
    0% {
        margin-left: 1500px;
    }
    100% {
        margin-left: 0px;
    }
}

.register-title {
    display: flex;
    justify-content: center;
}

.register-title mat-card-title {
    font-size: 30px;
}

.register-field-container {
    margin-top: 15px;
    width: 100%;
    padding: 0 10px;
}

.register-field-container mat-form-field {
    width: 100%;
    margin: -5px 0;
}

.login-btn {
    /* margin: 0 10px; */
}

.passwd_error {
    display: block;
    color: #f44336;
    font-size: 75%;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}