<!-- <button mat-raised-button color="primary" class="login-btn" (click)="SignOut()">Logout</button> -->

<div class="register-outer-countainer">
    <mat-card class="register-inner-countainer">
        <mat-card-header class="register-title">
            <mat-card-title>Registration Form</mat-card-title>
        </mat-card-header>
        <mat-card-content class="register-field-container">

            <form [formGroup]="registrationForm" autocomplete="off" novalidate (ngSubmit)="submitRegistrationForm(registrationForm.value)" fxLayout="column wrap">

                <div class="row">
                    <div class="col-sm-6 pd_non">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your First Name</mat-label>
                            <input matInput placeholder="your name" formControlName="f_name" id="f_name" minlength="2" required>
                            <mat-icon matSuffix>contact_page</mat-icon>
                            <mat-error *ngIf="hasError('f_name', 'required')">First name is required</mat-error>
                            <mat-error *ngIf="hasError('f_name', 'minlength')">Firts name is not valid</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6 pd_non">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your Last Name</mat-label>
                            <input matInput placeholder="your surname" formControlName="l_name" id="l_name" minlength="2" required>
                            <mat-icon matSuffix>contact_page</mat-icon>
                            <mat-error *ngIf="hasError('l_name', 'required')">Surname name is required</mat-error>
                            <mat-error *ngIf="hasError('l_name', 'minlength')">Surname name is not valid</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 pd_non">
                        <mat-form-field appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="1234567899" formControlName="phone" id="phone" minlength="10" maxlength="10" required>
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error *ngIf="hasError('phone', 'required')">Phone number is required</mat-error>
                            <mat-error *ngIf="hasError('phone', 'minlength')">Phone number is not valid</mat-error>
                            <mat-error *ngIf="hasError('phone', 'maxlength')">Phone number is not valid</mat-error>
                            <mat-error *ngIf="hasError('phone', 'pattern')">Phone number is not valid</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6 pd_non">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your Email</mat-label>
                            <input matInput placeholder="demo@gmail.com" formControlName="email" id="email" required>
                            <mat-icon matSuffix>mail</mat-icon>
                            <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
                            <mat-error *ngIf="hasError('email', 'email')">email is not valid</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 pd_non">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide1 ? 'text' : 'password'" formControlName="password" id="password" minlength="4" required>
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                          <mat-icon>{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                            <mat-error *ngIf="hasError('password', 'required')">password is required</mat-error>
                            <mat-error *ngIf="hasError('password', 'minlength')">password is not valid</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6 pd_non">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm your password</mat-label>
                            <input matInput [type]="hide2 ? 'text' : 'password'" formControlName="c_password" id="c_password" required>
                            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                          <mat-icon>{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                            <mat-error *ngIf="hasError('c_password', 'required')">password is required</mat-error>
                            <span class="passwd_error" *ngIf="registrationForm.errors?.invalid">Password doesn't match</span>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row text-right">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <button mat-raised-button color="primary" class="submit-btn" [disabled]="!registrationForm.valid">Submit</button>
                    </div>
                </div>
            </form>

            <div class="row text-center">
                <div class="col-sm-12">
                    <button mat-flat-button class="login-btn" (click)="login()">Have already an account? Login</button>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>
<router-outlet></router-outlet>